*{
    margin: 0px;
    padding: 0px;
}
/* header iin fonr hemjee*/
nav {
    background-color: #4C6DA8;
    height: 130px;
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Лого, текст, цэсний хооронд зай авах */
    padding: 5px 1px;
}
h1{
    
    font-family: 'titillium web', sans-serif;
    font-size: 45px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
}

nav ul{
    float: right;
    margin-right: 15px;
}   
/* home search edrig hewtee helber shiljuulsen*/
nav ul li {
    text-align: "left";
    display: inline-block;
    line-height: 45px;
    margin: 0px 0px;
}
/*home search geh metin ungiig tod*/
a{
    color: white;
    /*dooguur zuraas arilgah*/
    text-decoration: none;
}
/* home edr deer darval ungun uurclugdun*/
a:hover{
    color: #3a3d3f;
}
.sidebar{
    margin-top: -10px;
    box-sizing: border-box;
    border: 1px dashed;
    float: left;
    width: 192px;
    height: 60px;
    margin-block-start: 20px;
    
}

button{
    background-color: #4C6DA8;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: "center";
    font-size: 12px;
    padding: 5px 5px;
    margin-left: 15px;
    width: 20%;
}
.main{
    
    margin-top: 19px;
    padding: right;
    margin-left: 13%;
    margin-right: 5px;
    border: 1px solid;
    height: "200px";
}
h4{
    color: #f2f3f5;
    background-color: #4C6DA8;
}
span{
    color:#4C6DA8
}
h3{
    color: #4C6DA8;
    text-align: left;
}

.sidebar1 {
    display: table;
    color: black;
    border: 1px dashed; /* Хүрээ нэмэх */
    padding: 27px; /* Дотор зай */
    width: 136px; /* Дотоод контентийн хэмжээгээр өргөн авна */
    background-color: #ffffff; /* Цайвар фон */
    margin-top: -914px; /* Quick search-ийн доор зай авах */
    height: 1px; /* Quick search-ийн доор зай авах */
   

}
.sidebar1 a {
    text-decoration: none; /* Доогуур зураасгүй */
    color: #4C6DA8; /* Энгийн үед хар өнгөтэй */
    font-weight: normal; /* Зузаан биш */
}

.sidebar1 a:hover {
    color: #0b0c0c; 
}

.sidebar1 ul {
 /* Цэгүүдийг арилгах */
    color: blue;
    padding: 0px;
    margin: 0;
    border-bottom: none;
    text-align: "center";
}

.sidebar1 li {
    border-bottom: 1px solid #ccc;
    border-bottom: none;
}


.sidebar2 {
    display: table;
    color: black;
    border: 1px solid rgb(11, 11, 11); /* Хүрээ нэмэх */
    padding: 16px; /* Дотор зай */
    width: 158px; /* Дотоод контентийн хэмжээгээр өргөн авна */
    background-color: #ffffff; /* Цайвар фон */
    margin-top: 2px; /* Quick search-ийн доор зай авах */
    height: auto;

}
.sidebar2 a {
    text-decoration: none; /* Доогуур зураасгүй */
    color: #4C6DA8; /* Энгийн үед хар өнгөтэй */
}
img{
    width: 100%;
    height: 50%;
}




